/* 
.allwrps {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.single {
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 200px;
    background: red;
    margin: 0 5px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s;     
}
.btns {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btns button {
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.btns button:hover,.btns button.active {
    background: blueviolet;
    color: #fff;
} */
h1{
    font-family: Satisfy;
    font-size:50px;
    text-align:center;
    color:black;
    padding:1%;
  }
  #gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
  }
  #gallery img,#gallery video {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .modal-img,.model-vid{
    width:100%;
    height:auto;
  }
  .modal-body{
    padding:0px;
  }